@import "styles/variables";

.header {
    .top {
        height: 32px;
        background: $grey-color;

        .topbar {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            a {
                color: $text-gray;

                &:hover {
                    color: $link-color-hover;
                }
            }

            a+a {
                margin-left: 16px;
            }
        }
    }

    .middle {
        height: 104px;

        .info {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .logo {
            font-size: 38px;
            font-weight: bold;
            color: $text-default;

            &:hover {
                color: $text-default;
            }
        }

        .contact {
            text-align: right;

            .title {
                font-size: 14px;
                font-weight: normal;
                color: #999;
                margin-bottom: 6px;
            }
        }
    }

    .bottom {
        height: 54px;
        background: $primary-color;
        transition: transform .3s ease-in-out;

        .panel {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .button {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 42px;
                padding: 0 14px;
                color: $text-default;
                font-weight: bold;
                border-radius: 2px;

                &:hover {
                    background-color: rgba(#fff, 0.5);
                }
            }

            .categories,
            .indicators {
                height: 100%;
                display: flex;
                align-items: center;
            }

            .categories {
                margin-right: 20px;
            }

            .indicators {
                .button {
                    position: relative;

                    .value {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: absolute;
                        top: 4px;
                        right: 3px;
                        height: 15px;
                        font-size: 10px;
                        font-weight: bold;
                        padding: 0 5px;
                        border-radius: 100px;
                        background: #fff;
                        color: #3d464d;
                    }
                }
            }
        }
    }

    &.sticky {
        &+main {
            padding-top: 54px;
        }

        .bottom {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            z-index: 99;
            animation: fade-in-down 0.9s cubic-bezier(0.2, 1, 0.22, 1);
        }
    }
}

@keyframes fade-in-down {
    from {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}