@import "styles/variables";

.header {
    .top {
        height: 32px;
        background: $grey-color;

        .topbar {
            height: 100%;
            display: flex;
            align-items: center;


            a {
                color: $text-gray;

                &:hover {
                    color: $link-color-hover;
                }
            }

            a+a {
                margin-left: 16px;
            }
        }
    }

    .middle {
        height: 104px;

        .info {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    .bottom {
        height: 54px;
        background: $primary-color;

        .panel {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .button {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 42px;
                padding: 0 14px;
                color: $text-default;
                font-weight: bold;
                border-radius: 2px;
                transition: background-color .2s;

                &:hover {
                    background-color: rgba(#fff, 0.5);
                }
            }

            .categories,
            .indicators {
                height: 100%;
                display: flex;
                align-items: center;
            }

            .categories {
                margin-right: 20px;
            }
        }
    }
}