@import "styles/variables";

.button {
    cursor: pointer;
    border: none;
    border-radius: 2px;
    text-align: center;
    font-weight: 500;
    color: $button-text;
    fill: $button-text;
    transition: all 0.15s ease-in-out;

    &:disabled {
        cursor: default;
        opacity: 0.65;
    }

    &.loading {
        cursor: default;
        position: relative;
        color: transparent;
        fill: transparent;

        .loader {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &.default {
        border-color: $button-default;
        background: $button-default;

        &:hover:not(:disabled):not(.loading),
        &:focus-visible:not(:disabled):not(.loading) {
            border-color: $button-default-hover;
            background: $button-default-hover;
            color: $button-default-text-hover;
            fill: $button-default-text-hover;
        }

        &:active:not(:disabled):not(.loading) {
            border-color: $button-default-active;
            background: $button-default-active;
        }
    }

    &.contained {
        border-color: $button-primary;
        background: $button-primary;

        &:hover:not(:disabled):not(.loading),
        &:focus-visible:not(:disabled):not(.loading) {
            border-color: $button-primary-hover;
            background: $button-primary-hover;
            color: $button-primary-text-hover;
            fill: $button-primary-text-hover;
        }

        &:active:not(:disabled):not(.loading) {
            border-color: $button-primary-active;
            background: $button-primary-active;
        }
    }

    &.transparent {
        border-color: $button-transparent;
        background: $button-transparent;

        &:hover:not(:disabled):not(.loading),
        &:focus-visible:not(:disabled):not(.loading) {
            border-color: $button-transparent-hover;
            background: $button-transparent-hover;
            color: $button-transparent-text-hover;
            fill: $button-transparent-text-hover;
        }

        &:active:not(:disabled):not(.loading) {
            border-color: $button-transparent-active;
            background: $button-transparent-active;
        }
    }

    &.large {
        height: 46px;
        padding: 13px 32px;
        font-size: 18px;

        &.icon {
            height: 46px;
            width: 46px;
        }
    }

    &.medium {
        height: 38px;
        padding: 6px 20px;
        font-size: 16px;

        &.icon {
            height: 38px;
            width: 38px;
        }
    }

    &.small {
        height: 32px;
        padding: 6px 16px;
        font-size: 14px;

        &.icon {
            height: 32px;
            width: 32px;
        }
    }

    &.icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 0;

        svg {
            height: 16px;
        }
    }

    &.fullWidth {
        width: 100%;
    }

    &.fullHeight {
        height: 100%;
    }
}