@import "styles/variables";

.footer {
    border-top: 1px solid #ebebeb;

    .widgets {
        padding: 48px 0 54px;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 12px;
        column-gap: 12px;

        .contacts {
            .logo {
                display: inline-block;
                margin-bottom: 20px;
                font-size: 26px;
                font-weight: bold;
                color: $text-default;

                &:hover {
                    color: $text-default;
                }
            }

            .description {}
        }

        .links {
            display: grid;
            grid-template-rows: auto;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 12px;
            column-gap: 12px;

            .link {
                margin-bottom: 12px;

                a {
                    font-size: 15px;
                }
            }
        }

        .newsletter {
            .telegram {
                margin-bottom: 20px;

                .title {
                    margin-bottom: 14px;
                }

                .subscribe {
                    margin-left: 6px;
                }
            }

            .socials {
                .title {
                    margin-bottom: 8px;
                }

                .list {
                    display: flex;
                    align-items: center;
                }

                .social {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    margin-right: 8px;
                    width: 34px;
                    height: 34px;
                    transition: all 0.2s;

                    &:hover {
                        opacity: 0.8;
                    }

                    svg {
                        fill: $socials-svg;
                        height: 22px;
                        width: 22px;
                    }

                    &Telegram {
                        background: $socials-telegram;
                    }

                    &Viber {
                        background: $socials-viber;
                    }

                    &WhatsApp {
                        background: $socials-whatsapp;
                    }

                    &Vk {
                        background: $socials-vkontakte;
                    }

                    &Instagram {
                        background: $socials-instagram;
                    }
                }
            }
        }
    }
}