@import "styles/fonts";
@import "styles/variables";
@import "styles/typography";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}

body {
    color: $text-default;
    font-family: $font-default;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    overflow-y: scroll;
}

#__next {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

a {
    color: $link;
    text-decoration: none;
    transition: color .3s;

    &:hover {
        color: $link-hover;
    }
}

a,
span,
div {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

button,
input,
textarea {
    font-family: $font-default;
    outline: none;
}

textarea,
input[type="text"],
input[type="button"],
input[type="number"],
input[type="submit"] {
    -webkit-appearance: none;
}

ul {
    list-style-type: none;
}